<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.8.1" targetFramework="net46" />
  <package id="FSharp.Core" version="4.5.2" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.7.4" targetFramework="net461" />
  <package id="itext7" version="7.1.12" targetFramework="net461" />
  <package id="Magick.NET.Core" version="8.3.2" targetFramework="net461" />
  <package id="Magick.NET.SystemDrawing" version="4.0.7" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="8.3.2" targetFramework="net461" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net46" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net46" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net461" />
</packages>