<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="COMPASS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup><userSettings>
        <COMPASS.Properties.Settings>
            <setting name="PreferedLayout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListShowAuthor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListShowPublisher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListShowRelease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListShowVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListShowRating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListShowTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListShowFileIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListShowEditIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TileShowExtraData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardShowAuthor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CardShowPublisher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardShowRelease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardShowVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardShowRating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CardShowTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CardShowFileIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupCollection" serializeAs="String">
                <value>DnD</value>
            </setting>
            <setting name="DataGridCollumnInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="SortProperty" serializeAs="String">
                <value>"Title"</value>
            </setting>
            <setting name="SortDirection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="justUpdated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HomeShowTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeCoverSize" serializeAs="String">
                <value>156</value>
            </setting>
            <setting name="TileCoverSize" serializeAs="String">
                <value>156</value>
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TileDisplayedData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowCodexInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoHideCodexInfo" serializeAs="String">
                <value>True</value>
            </setting>
        </COMPASS.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Magick.NET.Core" publicKeyToken="2004825badfa91ec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.3.0.0" newVersion="8.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.37.0" newVersion="1.11.37.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
